In [1]:
import pandas as pd

# Pickles

In [2]:
data = [1, 2, 3, 4, 5]

In [3]:
df1 = pd.DataFrame(data)
df1

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
df1.to_pickle('mypickle')

In [5]:
df1

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
df2 = pd.read_pickle('mypickle')

In [7]:
df2

   0
0  1
1  2
2  3
3  4
4  5

In [10]:
output = pd.read_html('https://www.google.com/')

ImportError: lxml not found, please install it

In [11]:
!pip install lxml

Requirement already satisfied: lxml in /home/apoorva/miniconda3/lib/python3.7/site-packages (4.4.1)

In [12]:
output = pd.read_html('https://www.google.com/')

ImportError: lxml not found, please install it

In [14]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [17]:
import requests

In [13]:
!pip3 install requests

Requirement already satisfied: requests in /home/apoorva/miniconda3/lib/python3.7/site-packages (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /home/apoorva/miniconda3/lib/python3.7/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/apoorva/miniconda3/lib/python3.7/site-packages (from requests) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/apoorva/miniconda3/lib/python3.7/site-packages (from requests) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/apoorva/miniconda3/lib/python3.7/site-packages (from requests) (3.0.4)

In [15]:
url

'https://api.github.com/repos/pandas-dev/pandas/issues'

In [18]:
resp = requests.get(url)

In [19]:
resp

In [20]:
print(type(resp))

<class 'requests.models.Response'>

In [21]:
data = resp.json()

In [22]:
print(type(data))

<class 'list'>

In [23]:
output = pd.DataFrame(data, columns = ['number', 'title', 'labels', 'state'])

In [24]:
output

,number,title,labels,state
0,27929,[DEPR] Deprecate numeric_only parameter in Cat...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
1,27928,Assignment of column via .loc for numpy non-ns...,[],open
2,27927,BUG: DataFrame._get_value not working for Inte...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,27926,Fix regression in .ix fallback with IntervalIndex,[],open
4,27925,BUG: Help python csv engine read binary buffers,[],open
5,27923,"CLN: simplify comparison method, docstring cle...",[],open
6,27922,"CLN: Remove incorrect check, comment, rename",[],open
7,27921,BUG: Multiple lambdas for the same column retu...,[],open
8,27920,Updated table with read_fwf(),[],open
9,27916,BUG: fix to_timestamp out_of_bounds,[],open
10,27915,STYLE: run pre-commit filters on the repo,[],open
11,27912,REF: use should_extension_dispatch for compari...,[],open
12,27911,"API: when to cast list-like to ndarray, check ...",[],open
13,27910,CLN: missing boilerplate in Sparse op,[],open
14,27909,CLN: Catch more specific exceptions in groupby,[],open
15,27905,Functions allowed in DataFrameGroupby.transfor...,[],open
16,27904,groupby nunique() with dates vs datetimes in p...,"[{'id': 195647922, 'node_id': 'MDU6TGFiZWwxOTU...",open
17,27903,Standardize pandas distribution lists,"[{'id': 157369, 'node_id': 'MDU6TGFiZWwxNTczNj...",open
18,27902,CI: master failing windows py37_np141 builds,[],open
19,27901,Move `.github` files to the organization level,"[{'id': 6185226, 'node_id': 'MDU6TGFiZWw2MTg1M...",open
20,27900,Tab completion triggers deprecation warnings w...,[],open
21,27899,EHN: Add errors option in pandas.DataFrame.to_...,[],open
22,27896,CLN: remove _maybe_update_attributes,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
23,27895,Infer names in MultiIndex.from_product,"[{'id': 71268330, 'node_id': 'MDU6TGFiZWw3MTI2...",open
24,27892,DataFrameGroupBy.quantile raises for non-numer...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
25,27884,DOC: read_fwf not appears on IO Formats table ...,[],open
26,27882,BUG: `import lzma` can fail #27575,"[{'id': 2301354, 'node_id': 'MDU6TGFiZWwyMzAxM...",open
27,27881,timedelta is considered as np.number?,[],open
28,27880,A range of tolerance level for pd.merge_asof?,[],open
29,27878,TST: Raise ValueError and suggestion to use he...,[],open

# Clipboard Data Handling with Pandas

In [25]:
import numpy as np
import pandas as pd

In [27]:
  A B C
x 1 2 a
y 2 3 b
z 3 4 c

SyntaxError: invalid syntax (<ipython-input-27-724b7f2b424d>, line 1)